# Ignore everything
*

# Whitelist anything that's a directory
!*/

# Whitelist some files
!.gitignore
!README.md

# Whitelist these folders and everything inside of them
!r6/scripts/VendorUIImprovements/**
!bin/x64/plugins/cyber_engine_tweaks/mods/VuiGui/**

# Ignore these files inside below folders
r6/**/*.md
r6/scripts/VendorUIImprovements/**/*.txt
r6/scripts/VendorUIImprovements/**/*.log
r6/scripts/VendorUIImprovements/**/*.json
r6/scripts/VendorUIImprovements/**/__folder_managed_by_vortex
bin/x64/plugins/cyber_engine_tweaks/**/*.md
bin/x64/plugins/cyber_engine_tweaks/**/*.sqlite3
bin/x64/plugins/cyber_engine_tweaks/mods/VuiGui/**/*.txt
bin/x64/plugins/cyber_engine_tweaks/mods/VuiGui/**/*.log
bin/x64/plugins/cyber_engine_tweaks/mods/VuiGui/**/*.json
bin/x64/plugins/cyber_engine_tweaks/mods/VuiGui/**/__folder_managed_by_vortex
